@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #f2f2f2;
  background-color: #3c3963;
  align-items: center;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  color: #ffcd05;
}
.navbar h1 {
  color: #ffcd05;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffcd05;
}
.navbar a:hover {
  color: #f2f2f2;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  text-align: center;
}

.blog-preview h2 {
  font-size: 20px;
  color: #ffcd05;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ffcd05;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
}
.blog-details h4 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.blog-details h6 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
/*
.blog-details2{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}*/

.blog-details div {
  margin: 20px 0;
  align-items: center;
}
.blog-details button {
  background: #ffcd05;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-comment {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.blog-comment label {
  text-align: left;
  display: block;
}
.blog-comment h2 {
  font-size: 20px;
  color: #ffcd05;
  margin-bottom: 30px;
}
.blog-comment input,
.blog-comment textarea,
.blog-comment select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ffcd05;
  color: #282c34;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #ffcd05;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ffcd05;
  color: #282c34;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create-comment {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  transform: translate(142%, 0%);
}
.create-comment label {
  text-align: center;
  display: block;
}
.create-comment h2 {
  font-size: 20px;
  color: #ffcd05;
  margin-bottom: 30px;
}
.create-comment input,
.create-comment textarea,
.create-comment select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-comment button {
  background: #ffcd05;
  color: #282c34;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
